#types {
  display: flex;
  border: 1px solid black;
}

.type {
  flex-grow: 1;
  border: 1px solid black;
  width: auto;
}

.type img {
  max-width: 30vw;
}
button{
  float: right;
  padding: 10px 50px;
  margin-right: 3vw;
}
