#types {
  display: flex;
  border: 1px solid black;
}

.type {
  flex-grow: 1;
  width: auto;
}
.type img {
  max-width: 30vw;
}
.type h2 {
  margin: 0.3vw 0vw 0.3vw 1.7vw;
  padding: 0;
}

.image {
  position: relative;
  text-align: center;
}

button{
  float: right;
  padding: 10px 50px;
  margin-right: 3vw;
}

.active{
  background-color: blue;
}
