/*test*/
body {
  margin: 0px;
  padding: 0px;
  font-family: "Akkurat Std";
  src: url(stylesheets\fonts\AkkuratStd-Regular.otf);
  color: white;
  background-color: black;
}
h1{
  margin: 1vh 0vw 0px 0px;
  padding: 0px;
  font-family: objektiv-mk2, sans-serif;
  font-weight: 800;
  font-style: normal;
}
h2{
  font-family: objektiv-mk2, sans-serif;
  font-weight: 800;
  padding: 0px;
  margin: 0.2vh 0px 0.1vh 0px;
}
h3{
  font-family: objektiv-mk2, sans-serif;
  font-weight: 700;
  padding: 0px;
  margin: 0.2vh 0px 0.1vh 0px;
}
p {
  padding: 0px;
  margin: 0.1vh 0px 0.2vh 0px;
}
ul {
  color: white;
  padding: 0px;
  margin: 0.2vh 0.2vw 0.2vh 25px;
}

#main {
  margin: 0px 10px 0px 1%;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #d90504;
  text-decoration: underline;
}
a:active {
  color: #d90504;
  text-decoration: underline;
}

button{
  font-family: objektiv-mk2, sans-serif;
  font-weight: 800;
  color: white;
  background-color: black;
  border: 3px solid white;
  border-radius: 5px;
}
button:visited{
  color: white;
  border: 3px solid white;
}
button:hover {
  color: #d90504;
  border: 3px solid white;
}
button:active {
  color: #d90504;
    border: 3px solid #d90504;
}
