/*Styling for game tiles*/
.row {
  display: flex;
}
.cell {
  border: 1px solid white;
  padding: 2.2vh;
  margin: 0px;
}
.cellOn {
  background-color: white;
}
.cellFood {
  background-color: #d90504;
}
/*General Styling*/
.flex{
  display: flex;
}
#snakeBoard{
  padding: 2vw 2vw 0vw 0.5vw;
  flex: 1 1 0px;
}
#ui{
  padding: 0px;
  margin: 2vw 0.5vw 0vw 1.5vw;
  flex: 0.7 1 0px;
}
.score{
  flex: 1 1 0px;
  margin: 10px;
  padding: 7px 30px 10px 30px;
  border: 3px solid white;
  border-radius: 5px;
  position: relative;
  text-align: center;

}
.difficulty{
  flex: 1 1 0px;
  margin: 10px;

}
#restart {
  padding: 7px 30px 10px 30px;
  margin: 10px;
  flex-grow: 1;
  font-size: 15px;
}
#directions{
  margin-top: -0.5vw;
}
#header{
  font-size: 50px;
  margin-left: 0.2vw
}
