img{
  display: block;
  width: 25%;
  margin-bottom: 0.5vw;
  margin-top: 0.1vw;
}

h1{
  margin-bottom: 0vw;
}

h2{
  margin-top: 1.4vw;
  margin-bottom: 0.25vw;
}

h4{

  margin-top: 0.75vw;
  margin-bottom: 0.25vw;
}

iframe{
  margin: 0;
  display: block;
  margin-bottom: 0.5vw;
  margin-top: 0.1vw;
}

#diagram{
  width: 100%;
}

p{
  margin-left: 2vw;
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
}
