#maincontent{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid white; */
}
.post{
  /* border: 1px solid white; */
  margin: 0;
  padding: 0;
}
img{
  margin: 0.5vw 2vw;
  width: 80%;
}
h1{
  margin-bottom: 1.2vw;
}
h2{
  margin-left: 2vw;
}
