/*Styling for game tiles*/
.row {
  display: flex;
}
.cell {
  border: 1px solid white;
  padding: 2.2vh;
  margin: 0px;
}
.cellOn {
  background-color: white;
}
.cellFood {
  background-color: #d90504;
}
/*General Styling*/
#flexSite{
  display: flex;
}
#snakeBoard{
  margin: 2vw;
}
#ui{
  padding: 1vw;
  margin: 1.5vw;
}
#header{
  font-size: 40px;
}
#scores{
  display: flex;
}
#difficulties{
  display: flex;
}
.score{
  flex-grow: 1;
  margin: 10px;
  padding: 7px 30px 10px 30px;
  border: 3px solid white;
  border-radius: 5px;
}
.difficulty{
  flex-grow: 1;
  margin: 10px;
}
#restart {
  padding: 7px 30px 10px 30px;
  margin: 10px;
  flex-grow: 1;
  font-size: 15px;
}
