h1 {
  margin-top: 2vw;
  margin-bottom: 1vw;
}
img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.5vw;
  /* position: relative;
  top: -1.7vw; */
}
body{
    background-image: url("assets/CSSVG.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* #spacer{
  height: 100vh;
} */
#links{
  padding-bottom: 1vw;
}
.imgholder{
  height: 0vw;
  overflow: hidden;
}
