header {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
header h1{
  font-size: 6.5vw;
}
header img {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  width: 100%;
}
.container {
  position: relative;
  text-align: center;
}
#centeredhead {
  position: absolute;
  top: 10%;
}
#lowerhead {
  position: absolute;
  top: 90%;
}
.header {
  margin-left: 0.5VW;
}
#lists {
  display: flex;
}
.list {
  flex-grow: 1;
}
