body {
  font-family: helvetica;
  color: white;
  background-color: black;
}
#header {
  font-size: 2.5vw;
}
#header img {
  width: 100vw;
}
ul {
  color:#707070;
}
#work ul {
  color: #d90504;
}
a {
  color: #d90504;
}
