/*Styling for game tiles*/
.row {
  display: flex;

}
.cell {

  border: 1px solid white;
  padding: 22px;
  margin: 0px;
}
.cellOn {
  background-color: white;
}
.cellFood {
  background-color: #d90504;
}
/*General Styling*/
.flex{
  display: flex;
}
#snakeBoard{
  padding: 2vw 2vw 0vw 0.5vw;
  flex: 1 1 0px;
}
#ui{
  padding: 0px;
  margin: 2vw 0.5vw 0vw 1.5vw;
  flex: 1 1 0px;
}
.score{
  flex: 1 1 0px;
  margin: 10px;
  padding: 7px 30px 10px 30px;
  border: 2px solid white;
  border-radius: 0px;
  position: relative;
  text-align: center;

}
.difficulty{
  flex: 1 1 0px;
  margin: 10px;
  padding: 10px, 4px;
}
#restart {
  padding: 7px 30px 10px 30px;
  margin: 10px;
  flex-grow: 1;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 0px;
}
#directions{
  margin-top: -0.5vw;
}
#header{
  font-size: 64px;
  margin: -10px 0px 10px 4px;
  /* border: 2px solid white; */
}
